<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message board</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="main">
    <h1 class="title">Form</h1>
    <section class="section form-section">
        <form action="/new" method="post">
            <label for="name">
            </label>
            <input id="name" type="text" name="name" placeholder="author" required/>

            <label for="message">
            </label>
            <input id="message" type="text" placeholder="message" name="message" required/>
            <button class="button" type="submit">submit</button>
        </form>
    </section>
</section>

</body>
</html>