<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message board</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
<section class="main">
    <h1 class="title">Message board</h1>
    <section class="section message-board-section">
        <ul class="board">
            <% messages.forEach((msg)=> { %>
                <li class="message-item">
                    <h3><%= msg.author %></h3>
                    <p><%= msg.message %></p>
                    <p><%= msg.datePosted.toLocaleDateString() %></p>
                </li>
            <% }) %>
        </ul>
    </section>
    <a class="button link" href="/new">create new message</a>
</section>

</body>
</html>